@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url('../images/bg.jpg') fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #E9EFF2;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}
header,
section,
footer {
  width: 700px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.75);
  padding: 0 20px;
}
footer {
  padding-bottom: 20px;
}
.btn {
  padding: 10px 20px;
  border-radius: 3px;
  border-bottom: 3px solid;
  cursor: pointer;
}
span {
  color: #FECEA8;
  font-weight: 700;
}
canvas {
  background: rgba(0, 0, 0, 0.6);
  display: block;
  margin: 0 auto;
}
.player-arena {
  text-align: center;
  padding: 20px;
}
h1 {
  text-align: center;
  font-size: 55px;
  color: white;
  border-bottom: 1px solid #7797a5;
  padding: 20px;
  -webkit-text-stroke: 1px white;
  text-shadow: 1px 1px 0 #0095DD, 2px 2px 0 #0095DD, 3px 3px 0 #0095DD, 3px 4px 0 #0095DD, 3px 5px 0 #0095DD;
}
h2 {
  margin: 30px 0;
}
.keyboard-button {
  padding: 5px;
  background: white;
  color: #7797a5;
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
}
footer {
  color: #7797a5;
  border-top: 1px solid #7797a5;
  padding-top: 20px;
  font-size: 12px;
}
footer a:visited,
footer a:focus {
  color: #E84A5F;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
section#intro .effects {
  display: table;
  margin-bottom: 10px;
}
section#intro .effects img,
section#intro .effects span {
  float: left;
}
section#intro .effects span {
  line-height: 40px;
}
section#intro .effects img {
  margin-right: 20px;
}
section#game {
  display: none;
}
.canvas-wr {
  position: relative;
}
.canvas-wr .canvas-mask {
  background: rgba(0, 0, 0, 0.9);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 32px;
}
.canvas-wr #steps #step {
  color: #E84A5F;
  font-size: 72px;
}
.play-btn {
  background: #E84A5F;
  color: white;
  margin-top: 40px;
}
.canvas-graphics {
  display: none;
}
.player-arena img {
  display: none;
}
.player-arena img.front {
  display: inline;
}
.clr {
  display: inline-block;
}
