@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
	padding: 0;
	margin: 0;
}

body {
	background: #556270;
	color: #E9EFF2;
	

}

span {
	color: #FECEA8;
	font-weight: 700;
}

canvas {
	background: #2A363B;
	display: block;
	margin: 0 auto;
}

.player-arena {
	text-align: center;
	padding: 20px;
}

h1 {
	text-align: center;
	font: 24px 'Raleway', sans-serif;
	font-size: 55px;
	color: #556270;
	border-bottom: 1px solid #2A363B;
	padding: 20px;
	-webkit-text-stroke: 1px #2A363B;
	text-shadow: 
		1px 1px 0 #2A363B,
		2px 2px 0 #2A363B,
		3px 3px 0 #2A363B,
		3px 4px 0 #2A363B,
		3px 5px 0 #2A363B;
}
