* {
	padding: 0;
	margin: 0;
}

body {
	background: #556270;
	color: #E9EFF2;
}


span {
	color: #FECEA8;
	font-weight: 700;
}

canvas {
	background: #2A363B;
	display: block;
	margin: 0 auto;
} 

.player-arena {
	text-align: center;
	padding: 20px;
}